<div class="image">
      <img src="green-logo.jpg" alt="green logo"/>
</div>

<div class="welcome">
  <h1><strong>Welcome</strong</h1>
    <h5>your online shop managment system</h5>
    <br>
    <br>
</div>

<div class="nav">
  <p>check current listings</p>
  <a href="/designers">Designers Page</a>
  <p>Current Designers listed on your site<p>
    <br>
  <div class="products">
    <a href="/products">Products Page</a>
    <p>Current Products by your Designers</p>
  </div>

</div>
