<div class="welcome">

<p>Welcome</p>
<p>your online shop managment system</p>
<br>
<br>
</div>
<p>here to designers </p>
<a href="/designers">Designers Page</a>



<div class="products">
  <a href="/products">Products Page</a>
</div>
