<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Knitwear Shop</title>
    <link rel="stylesheet" href="/style.css">

<link rel="stylesheet" type="text/css" href="/forms.css">
<link rel="stylesheet" type="text/css" href="/tables.css">

  </head>
  <header>
    <a class="back-home" href='/'><span>Home</span></a>
    <a class="back-home" href='/designers'><span>Designers</span></a>
    <a class="back-home" href='/products'><span>Products</span></a>
  </header>
  <body>


  <%= yield %>

  </body>
  <br>
  <br>
  <br>
  <footer>

  </footer>
</html>
