
<form method="post" action="/designers/<%= @designer.id %>">
  <label for="name">Company Name:</label>
  <input type="text" name="name" id="name" value="<%= @designer.name %>"/>


  <label for="location">Location:</label>
  <input type="text" name="location" value="<%= @designer.location%>"/>

  <input type="submit" value="Edit Designer"/>
</form>

<br>
<br>
<br>
<br>
<div class="back-home">
  <a href='/designers'> Back to designers</a>
</div>
<br>
<br>
<br>
<div class="back-home">
  <a href='/'>Home</a>
</div>
