<h1>Your shops listings</h1>
<hr>
<h3>Current Designers:</h3>

<% for designer in @designers %>
  <ul>
  <li style="list-style-type: none">
  <a href="/designers/<%= designer.id %>">
    <%= designer.name %></a>
    <%= designer.location %>
  </li>
  </ul>
<% end %>

<div>
  <a href='/'>Back to welcome</a>
</div>
