<h1>Shop listings</h1>
<hr>
<h3>Current Designers:</h3>


<table>
<tr>
  <th>Company Name</th>
  <th></th>
  <th>Company Location</th>
</tr>
  <% for designer in @designers %>
  <tr>
    <td><a href="/designers/<%= designer.id %>"><%= designer.name %></a></td>
    <td>|</td>
    <td><%= designer.location %></td>
  </tr>
<% end %>
</table>

<hr>

<div>
  <a href='/'>Back to welcome</a>
</div>

<div class="create">
  <a href="/designers/new">Create new designer</a>
</div>
