

<div class="heading-for-page">
  <h3>Listings of current Designers</h3>
  <hr>
</div>

<div class="container">

<table>
  <style="width: 100%;
  display: flex;
  justify-content: center;">

  <tbody>


<tr>
  <th>Company Name</th>
  <th></th>
  <th>Company Location</th>
</tr>
  <% for designer in @designers %>
  <tr>
    <td><a href="/designers/<%= designer.id %>"><%= designer.name %></a></td>
    <td>|</td>
    <td><%= designer.location %></td>
  </tr>
<% end %>

</tbody>
</table>

</div>

<hr>
<div class="create-product">
  <a href="/designers/new">Create new designer</a>
</div>
