<div class="new-page">

<p>Add new designer:</p>

<form method="post" action="/designers">

<div class="container-add-d">
  <label for="company-name">Company Name:</label>
  <input type="text" name="name" id="company-name">
</div>
<br>
<div class="container-add-d-row">
  <label for="geo-location">Location:</label>
  <input type="text" name="location" id="geo-location">
</div>
<br>
<br>
  <input type="submit"  value="Add Designer">

</form>

</div>

<br>
<br>
<br>
<div>
  <a class="back-home" href='/designers'>Designers</a>
</div>
<br>
<br>
<div>
  <a class="back-home" href='/'>Home</a>
</div>
