<p>Add new designer</p>
<form action="/designers" method="POST">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="location">Location:</label>
  <select id="location" name="location">
    <option value="England">England</option>
    <option value="Wales">Wales</option>
  </select>



<input type="submit" value="Add Designer">
</form>
