<h3><%= @designer.name%></h3>
<p>Location: <%= @designer.location%></p>


<!-- designers/id/products -->
<a href="/designers/<%= @designer.id %>/edit">Edit Designer Info</a>

<form action="/designers/<%= @designer.id %>/delete" method="POST">
  <br>
  <input type="submit" value="Delete Designer">
</form>




<div>
  <a href='/designers'> Back to listings</a>
</div>
<br>
<br>
<div class="back-home">
  <a href='/'>Home</a>
</div>
