body {
  background-color: #dbdbcc
}

header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
}



.welcome h1 {
  font-family: monospace;
  text-align: center;
  color: black;
  display: block;
  font-size: 50px;
}




h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

.welcome {
  background-image: url(green-logo.jpg)

}
.welcome p {
  text-align: center;
}


.back-home {
  text-align: center;
  /* color: */
  display: block;
  cursor: pointer;
  font-family: monospace, serif;
  margin: 20px 20px;
}

.back-home span {
  display: inline-block;
  border:2px dotted;

}

.centre-back {
  text-align: center;
}

.container-add-d {
  text-align: center;
  display: flex;
  color: grey;
  border: 0.1em solid;
  padding: auto;
  width: 200px;
}


.container-add-d-row {
  text-align: center;
  display: flex;
  color: grey;
  border: 0.1em solid;
  padding: auto;
  width: 200px;
}

.container {
  display: flex;

}

.heading-for-page {
  font-family: monospace;
  text-align: center;
  color: #223127;
  font-size: 25px;
}



.designer-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
  color: black;
  border: 0.2em solid grey;
  display: inline-block;
   position: fixed; top: 30%; left: 42%;
   padding:20px;

}


.designer-page ul {
  list-style-type: none;"
  align-content: center;
  text-align: center;
  padding: 0;
}


.designer-page h4 {
  font-style: italic;
}


tr:hover {
  background-color: #E0CA3C;
}
