body {
  background-color: #dbdbcc
}

.welcome h1 {
  font-family: monospace;
  text-align: center;
  color: white;
  display: block;

}

.nav {
  text-align: center;
}

.nav p {
  font-style: italic;
  font-size: 1em;
}


.image {
  background-position: center;
  height: 300px;
  z-index: 0;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 3em;
}

.welcome p {
  text-align: center;
}


.product a {

}

.product-table table {

}



.back-home {

  text-align: center;
  border:3px dotted;

  /* border-radius: 3%; */
  /* padding: 8px 12px; */
  cursor: pointer;
  font-family: monospace, serif;
  /* margin: auto; */
  /* padding: 0; */

}

.centre-back {
  color: green;
}

.container-add-d {
  text-align: center;
  display: flex;
  color: grey;
  border: 0.1em solid;
  padding: auto;
  width: 200px;
}

.container {
  display: flex;
}

.heading-for-page {
  font-family: monospace;
  text-align: center;
  color: white;
  font-size: 25px;
}

footer {
  text-align: center;
}
