body {
  background-color: #dbdbcc
}

header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.welcome h1 {
  font-family: monospace;
  text-align: center;
  color: black;
  display: block;
  font-size: 50px;
}



.image {
  display: inline-block;
  height: 200px;
  z-index: 0;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

.welcome p {
  text-align: center;
}


.back-home {
  text-align: center;
  /* color: */
  display: block;
  cursor: pointer;
  font-family: monospace, serif;
  margin: 20px 20px;
}

.back-home span {
  display: inline-block;
  border:2px dotted;

}

.centre-back {
  text-align: center;
}

.container-add-d {
  text-align: center;
  display: flex;
  color: grey;
  border: 0.1em solid;
  padding: auto;
  width: 200px;
}


.container-add-d-row {
  text-align: center;
  display: flex;
  color: grey;
  border: 0.1em solid;
  padding: auto;
  width: 200px;
}

.container {
  display: flex;

}

.heading-for-page {
  font-family: monospace;
  text-align: center;
  color: #223127;
  font-size: 25px;
}



.designer-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
  color: red;
}

.designer-page ul {
  list-style-type: none;"
  text-align: center;
}
