table {
  background-color: white;
  font-family: monospace;

}

th {
  background-color: #DD6031 ;
}

/* screen sizing */
@media (max-width: 600px) {
  .column
}

/* container is the outside therefore becomes the display flex, directioon,
wrap, align.
put a class in and  */
.product-table-one {
  display: flex;

}

.container {
  padding-left: 35%;
  padding-right: 45%''

}


.product-table-one .total {
  text-weight: bold;
}
