<h1>Shop listings by PRODUCT</h1>
<hr>
<h3>Current Products:</h3>

<% for product in @products %>
  <ul>
  <li style="list-style-type: none">
  <a href="/products/<%= product.id %>"><%= product.name %></a>
    <%= product.description %>
  </li>
  </ul>
<% end %>

<div>
  <a href='/'>Back to welcome</a>
</div>
