<p>Add new prdouct</p>

<form method="post" action="/products">


  <label for="type-name">Product Name:</label>
  <input type="text" name="name" id="type-name">

  <label for="material">Description:</label>
  <input type="text" name="description" id="material">

  <label for="stock-quantity">Stock:</label>
  <input type="text" name="stock_quantity" id="stock-quantity">

  <label for="buy">Buy Price:</label>
  <input type="text" name="buy_price" id="buy">

  <label for="sell-cost">Sell Price:</label>
  <input type="text" name="sell_price" id="sell-cost">

<p>Select Designer:</p>
<select name="designer_id">
  <% for designer in @designers %>
  <option value="<%= designer.id %>"><%= designer.name %>
  </option>
  <% end %>
</select>
<br>
<br>
  <input type="submit"  value="Add Product">
</form>
