<p>Add new prdouct</p>

<form method="post" action="/products">

  <label for="type-name">Product Name:</label>
  <input type="text" name="name" id="type-name">

  <label for="material">Description:</label>
  <input type="text" name="description" id="material">

  <label for="stock-quantity">Stock:</label>
  <input type="text" name="stock_quantity" id="stock-quantity">

  <label for="buy">Buy Price:</label>
  <input type="text" name="buy_price" id="buy">

  <label for="sell-cost">Sell Price:</label>
  <input type="text" name="sell_price" id="sell-cost">

      <form class="markup-return" action="/products/new" method="post">

        <p>Calculate markup:</p>

          <input type="submit"  value="<% for product in @products %>
            <%= product.markup %>
            <% end %>">
      </form>

<br>
  <input type="submit"  value="Add Product">



</form>

<br>
<br>
<div class="back-home">
  <a href='/products'>Products</a>
</div>
<br>
<br>
<br>
<div class="back-home">
  <a href='/'>Home</a>
</div>
