<h1>products are here </h1>


<h3><%= @product.name%></h3>
<p><%= @product.description%></p>


<a href="/products/<%= @product.id %>/edit">Edit</a>

<form action="/products/<%= @product.id %>/delete" method="POST">
  <br>
  <input type="submit" value="Delete">
